In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

#Importing S&P Data
SP_data = "S&P 500 Raw data_1-20-2017 _ 3-21-2018.csv"
SP_df = pd.read_csv(SP_data, encoding = "ISO-8859-1")
SP_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-20,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3524970000
1,2017-01-23,2267.780029,2271.780029,2257.020020,2265.199951,2265.199951,3152710000
2,2017-01-24,2267.879883,2284.629883,2266.679932,2280.070068,2280.070068,3810960000
3,2017-01-25,2288.879883,2299.550049,2288.879883,2298.370117,2298.370117,3846020000
4,2017-01-26,2298.629883,2300.989990,2294.080078,2296.679932,2296.679932,3610360000

In [23]:
#Importing Poll Data
poll_data = "approval_polllist.csv"
poll_df = pd.read_csv(poll_data, encoding = "ISO-8859-1")
poll_df.head()

,president,subgroup,modeldate,startdate,enddate,pollster,grade,samplesize,population,weight,...,disapprove,adjusted_approve,adjusted_disapprove,multiversions,tracking,url,poll_id,question_id,createddate,timestamp
0,Donald Trump,All polls,3/23/2018,1/20/2017,1/22/2017,Gallup,B-,1500,a,0.229544,...,45.0,46.24014,42.97089,NaN,T,http://www.gallup.com/poll/201617/gallup-daily...,49253,77265,1/23/2017,13:24:29 23 Mar 2018
1,Donald Trump,All polls,3/23/2018,1/20/2017,1/22/2017,Morning Consult,NaN,1992,rv,0.798422,...,37.0,42.10743,40.06967,NaN,NaN,http://www.politico.com/story/2017/01/poll-vot...,49249,77261,1/23/2017,13:24:29 23 Mar 2018
2,Donald Trump,All polls,3/23/2018,1/20/2017,1/24/2017,Ipsos,A-,1632,a,0.287416,...,45.2,42.31247,44.12294,NaN,T,http://polling.reuters.com/#poll/CP3_2/,49426,77599,3/1/2017,13:24:29 23 Mar 2018
3,Donald Trump,All polls,3/23/2018,1/21/2017,1/23/2017,Gallup,B-,1500,a,0.211740,...,46.0,46.24014,43.97089,NaN,T,http://www.gallup.com/poll/201617/gallup-daily...,49262,77274,1/24/2017,13:24:29 23 Mar 2018
4,Donald Trump,All polls,3/23/2018,1/20/2017,1/25/2017,Quinnipiac University,A-,1190,rv,1.655253,...,44.0,37.81297,42.38432,NaN,NaN,https://poll.qu.edu/national/release-detail?Re...,49260,77272,1/26/2017,13:24:29 23 Mar 2018

In [24]:
#Importing Tweet Data
twitter_data = "TrumpTweets.csv"
twitter_df = pd.read_csv(twitter_data, encoding = "ISO-8859-1")
twitter_df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Democrats refused to take care of DACA. Would ...,03-22-2018 03:04:47,18194,81549,False,976655903729610752
1,Twitter for iPhone,Got $1.6 Billion to start Wall on Southern Bor...,03-22-2018 03:00:36,24663,107974,False,976654851684945920
2,Twitter for iPhone,.....They can help solve problems with North K...,03-21-2018 19:05:40,20045,84377,False,976535330835836929
3,Twitter for iPhone,I called President Putin of Russia to congratu...,03-21-2018 18:56:14,29868,130059,False,976532956557737984
4,Twitter for iPhone,Ã¢Â€ÂœSpecial Council is told to find crimes whet...,03-21-2018 11:29:03,18658,77609,False,976420417090015232