In [9]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

df=pd.read_csv("..\Raw Data\TrumpTweets.csv")

firstTweet = True
compound_list =[]
sentiments =[]
count =0

for index, row in df.iterrows():
    #Run Vader Analysis on each tweet
    sentence =row["text"]
    #Tweet datetime object
    new_date = row["created_at"]
    if(firstTweet == False):
        if(old_date != new_date):
            compound= np.mean(compound_list)
            compound_list =[]
            #Store the Sentiments
            sentiments.append({"Compound":compound,
                "Date" : old_date,
                "Count" : count})
            #Resetting count
            count =0
    else:
        firstTweet = False
    compound_list.append(analyzer.polarity_scores(sentence)["compound"])
    count +=1
    old_date = new_date
	
#Put all data into dataframe and export to csv file
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df.head()

   Compound  Count                 Date
0    0.5818      1  03-22-2018 03:04:47
1    0.5984      1  03-22-2018 03:00:36
2    0.9485      1  03-21-2018 19:05:40
3    0.3699      1  03-21-2018 18:56:14
4    0.2263      1  03-21-2018 11:29:03

In [10]:
for index, row in sentiments_df.iterrows():
    d = datetime.strptime(row["Date"], '%m-%d-%Y %H:%M:%S')
    sentiments_df.loc[index, 'Date'] = d.strftime('%Y-%m-%d')
sentiments_df.head()

   Compound  Count        Date
0    0.5818      1  2018-03-22
1    0.5984      1  2018-03-22
2    0.9485      1  2018-03-21
3    0.3699      1  2018-03-21
4    0.2263      1  2018-03-21

In [11]:
sentiments_df.to_csv("sentiments_compound_raw.csv")

In [12]:
#Importing S&P Data
SP_data = "..\Raw Data\S&P 500 Raw data_1-20-2017 ~ 3-21-2018.csv"
SP_df = pd.read_csv(SP_data, encoding = "ISO-8859-1")
SP_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-20,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3524970000
1,2017-01-23,2267.780029,2271.780029,2257.020020,2265.199951,2265.199951,3152710000
2,2017-01-24,2267.879883,2284.629883,2266.679932,2280.070068,2280.070068,3810960000
3,2017-01-25,2288.879883,2299.550049,2288.879883,2298.370117,2298.370117,3846020000
4,2017-01-26,2298.629883,2300.989990,2294.080078,2296.679932,2296.679932,3610360000

In [22]:
compoundsentiment_df=pd.read_csv("..\Clean Data\compound_score_final.csv")
compoundsentiment_df.head()

   Row Labels  Average of Compound
0   2017-10-1             0.431025
1  2017-10-10             0.018745
2  2017-10-11             0.115667
3  2017-10-12             0.177133
4  2017-10-13             0.017685

In [15]:
compoundsentiment_df['Date'] = compoundsentiment_df['Row Labels']
merged_df = pd.merge(SP_df, compoundsentiment_df, how ='inner', on='Date')

In [16]:
merged_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Row Labels,Average of Compound
0,2017-10-10,2549.989990,2555.229980,2544.860107,2550.639893,2550.639893,2960500000,2017-10-10,0.018745
1,2017-10-11,2550.620117,2555.239990,2547.949951,2555.239990,2555.239990,2976090000,2017-10-11,0.115667
2,2017-10-12,2552.879883,2555.330078,2548.310059,2550.929932,2550.929932,3151510000,2017-10-12,0.177133
3,2017-10-13,2555.659912,2557.649902,2552.090088,2553.169922,2553.169922,3149440000,2017-10-13,0.017685
4,2017-10-16,2555.570068,2559.469971,2552.639893,2557.639893,2557.639893,2916020000,2017-10-16,0.284189

In [20]:
merged_df =  merged_df[['Date','Open','High','Low','Close','Volume','Average of Compound']]
merged_df

,Date,Open,High,Low,Close,Volume,Average of Compound
0,2017-10-10,2549.989990,2555.229980,2544.860107,2550.639893,2960500000,0.018745
1,2017-10-11,2550.620117,2555.239990,2547.949951,2555.239990,2976090000,0.115667
2,2017-10-12,2552.879883,2555.330078,2548.310059,2550.929932,3151510000,0.177133
3,2017-10-13,2555.659912,2557.649902,2552.090088,2553.169922,3149440000,0.017685
4,2017-10-16,2555.570068,2559.469971,2552.639893,2557.639893,2916020000,0.284189
5,2017-10-17,2557.169922,2559.709961,2554.689941,2559.360107,2889390000,0.269478
6,2017-10-18,2562.870117,2564.110107,2559.669922,2561.260010,2998090000,0.297659
7,2017-10-19,2553.389893,2562.360107,2547.919922,2562.100098,2990710000,-0.099914
8,2017-10-20,2567.560059,2575.439941,2567.560059,2575.209961,3384650000,0.423409
9,2017-10-23,2578.080078,2578.290039,2564.330078,2564.979980,3211710000,-0.039600
10,2017-10-24,2568.659912,2572.179932,2565.580078,2569.129883,3427330000,0.166625
11,2017-10-25,2566.520020,2567.399902,2544.000000,2557.149902,3874510000,0.435592
12,2017-10-26,2560.080078,2567.070068,2559.800049,2560.399902,3869050000,0.204036
13,2017-10-27,2570.260010,2582.979980,2565.939941,2581.070068,3887110000,0.400187
14,2017-10-30,2577.750000,2580.030029,2568.250000,2572.830078,3658870000,-0.037175
15,2017-10-31,2575.989990,2578.290039,2572.149902,2575.260010,3827230000,-0.131300
16,2017-11-10,2580.179932,2583.810059,2575.570068,2582.300049,3486910000,0.728944
17,2017-11-13,2576.530029,2587.659912,2574.479980,2584.840088,3402930000,0.385050
18,2017-11-14,2577.750000,2579.659912,2566.560059,2578.870117,3641760000,0.594525
19,2017-11-15,2569.449951,2572.840088,2557.449951,2564.620117,3558890000,0.285113
20,2017-11-16,2572.949951,2590.090088,2572.949951,2585.639893,3312710000,0.216771
21,2017-11-17,2582.939941,2583.959961,2577.620117,2578.850098,3300160000,0.029200
22,2017-11-20,2579.489990,2584.639893,2578.239990,2582.139893,3003540000,-0.202000
23,2017-11-21,2589.169922,2601.189941,2589.169922,2599.030029,3332720000,0.612200
24,2017-11-22,2600.310059,2600.939941,2595.229980,2597.080078,2762950000,-0.002745
25,2017-11-24,2600.419922,2604.209961,2600.419922,2602.419922,1349780000,0.030860
26,2017-11-27,2602.659912,2606.409912,2598.870117,2601.419922,3006860000,0.371425
27,2017-11-28,2605.939941,2627.689941,2605.439941,2627.040039,3488420000,0.362767
28,2017-11-29,2627.820068,2634.889893,2620.320068,2626.070068,4078280000,0.057765
29,2017-11-30,2633.929932,2657.739990,2633.929932,2647.580078,4938490000,0.031167
30,2017-12-11,2652.189941,2660.330078,2651.469971,2659.989990,3091950000,-0.927200
31,2017-12-12,2661.729980,2669.719971,2659.780029,2664.110107,3555680000,-0.144280
32,2017-12-13,2667.590088,2671.879883,2662.850098,2662.850098,3542370000,0.526080
33,2017-12-14,2665.870117,2668.090088,2652.010010,2652.010010,3430030000,0.367571
34,2017-12-15,2660.629883,2679.629883,2659.139893,2675.810059,5723920000,0.841150
35,2017-12-18,2685.919922,2694.969971,2685.919922,2690.159912,3724660000,0.429369
36,2017-12-19,2692.709961,2694.439941,2680.739990,2681.469971,3368590000,0.817060
37,2017-12-20,2688.179932,2691.010010,2676.110107,2679.250000,3241030000,0.541483
38,2017-12-21,2683.020020,2692.639893,2682.399902,2684.570068,3273390000,0.394420
39,2017-12-22,2684.219971,2685.350098,2678.129883,2683.340088,2399830000,0.369182
40,2017-12-26,2679.090088,2682.739990,2677.959961,2680.500000,1968780000,0.483433
41,2017-12-27,2682.100098,2685.639893,2678.909912,2682.620117,2202080000,0.387500
42,2017-12-28,2686.100098,2687.659912,2682.689941,2687.540039,2153330000,0.126282
43,2017-12-29,2689.149902,2692.120117,2673.610107,2673.610107,2443490000,0.299425

In [21]:
merged_df.to_csv("SPvsCompound.csv")