In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

#Importing S&P Data
SP_data = "S&P 500 Raw data_1-20-2017 ~ 3-21-2018.csv"
SP_df = pd.read_csv(SP_data, encoding = "ISO-8859-1")
SP_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-20,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3524970000
1,2017-01-23,2267.780029,2271.780029,2257.020020,2265.199951,2265.199951,3152710000
2,2017-01-24,2267.879883,2284.629883,2266.679932,2280.070068,2280.070068,3810960000
3,2017-01-25,2288.879883,2299.550049,2288.879883,2298.370117,2298.370117,3846020000
4,2017-01-26,2298.629883,2300.989990,2294.080078,2296.679932,2296.679932,3610360000

In [3]:
#Importing Poll Data
poll_data = "approval data clean values only.csv"
poll_df = pd.read_csv(poll_data, encoding = "ISO-8859-1")
poll_df.head()

,Start Date,End Date,Average of adjusted_approve,Average of adjusted_disapprove
0,1/20/2017,1/22/2017,45.90613,43.14093
1,1/23/2017,1/25/2017,43.71903,40.23624
2,1/26/2017,1/28/2017,42.90613,49.14093
3,1/29/2017,1/31/2017,43.90613,50.14093
4,2/1/2017,2/3/2017,44.90613,48.14093

In [5]:
#Importing Tweet Data
twitter_data = "TrumpTweets.csv"
twitter_df = pd.read_csv(twitter_data, encoding = "ISO-8859-1")
twitter_df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Democrats refused to take care of DACA. Would ...,03-22-2018 03:04:47,18194,81549,False,976655903729610752
1,Twitter for iPhone,Got $1.6 Billion to start Wall on Southern Bor...,03-22-2018 03:00:36,24663,107974,False,976654851684945920
2,Twitter for iPhone,.....They can help solve problems with North K...,03-21-2018 19:05:40,20045,84377,False,976535330835836929
3,Twitter for iPhone,I called President Putin of Russia to congratu...,03-21-2018 18:56:14,29868,130059,False,976532956557737984
4,Twitter for iPhone,âSpecial Council is told to find crimes whet...,03-21-2018 11:29:03,18658,77609,False,976420417090015232